@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-color: #000000;
    --font-color: #FFFFFF;
    --main-font: "Inter", sans-serif;
    --2-bg-color: #272727;
    --3-bg-color: #444444;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
    background-color: var(--bg-color);
    color: var(--font-color);
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.cabecalho {
    width: 90%;
    margin: 2% 3%;
    padding: 1% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: var(--2-bg-color);
}

.botao-curriculo {
    font-size: 18px;
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 1% 4%;
    margin: 0 1%;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    animation: piscar 2s infinite;
    transition: transform 0.3s ease;
}

.botao-curriculo:hover {
    transform: scale(1.05);
}

@keyframes piscar {
     0% { opacity: 1; }
     50% { opacity: 0.75; }
     100% { opacity: 1; }
   }

.nav-links {
    display: flex;
    margin: 0 1%;
    gap: 4rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: var(--font-color);
    cursor: pointer;
}

.links:hover {
    text-decoration: underline;
}

.container {
    margin: 4% 6%;
    width: 90%;
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.texto-apresentacao {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    flex: 1;
    max-width: 55%;
}

.container-logos {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    cursor: pointer;
}

.container-foto {
    display: flex;
    justify-content: center;
    align-items: top;
    flex: 0 0 auto;
    margin-top: -3%;
}

.foto-perfil {
    width: 70%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 10px var(--3-bg-color), 0 0 25px var(--3-bg-color);
}

.icons {
    width: 2rem;
}

.icons:hover {
    filter: grayscale(100%) brightness(0.6);
}

.apresentacao {
    font-size: 20px;
}

.titulo-nome {
    font-size: 45px;
    font-weight: bold;
}

.botao-contrate {
    width: 30%;
    font-family: var(--main-font);
    font-size: 19px;
    color: var(--font-color);
    background-color: var(--2-bg-color);
    border: 1px solid var(--3-bg-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 2% 4%;
    transform: scale(1); 
    transition: transform 0.2s ease; 
}

.botao-contrate:hover {
  transform: scale(1.05); 
}

/* segunda página */
.segunda-secao {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3% 5%;
    width: 90%;
}

.sobre-mim-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre {
    display: flex;
    flex-direction: column;
    background-color: var(--2-bg-color);
    border: 1px solid var(--3-bg-color);
    border-radius: 10px;
    padding: 2%;
    gap: 1rem;
    transition: box-shadow 0.2s ease, border 0.2s ease;
}

.sobre:hover {
    border: 1px solid var(--3-bg-color);
    box-shadow: 0 0 10px var(--3-bg-color), 0 0 20px var(--3-bg-color);
}

.sobre-mim {
    gap: 1rem;
    line-height: 30px;
    height: 13rem;
}

.formacao-certificados-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    height: 13rem;
}

.certificados {
    color: #447D9B;
    text-decoration: none;
}

.certificados:hover {
    text-decoration: underline;
}

.container-tecnologias {
    display: flex;
    flex-direction: column;
    height: 10rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.titulo-sobre-mim {
    font-family: var(--main-font);
    font-size: 32px;
    font-weight: bold;
}

.titulo {
    font-family: var(--main-font);
    font-size: 23px;
    font-weight: bold;
}

.tecnologias {
    display: flex;
    flex-direction: row;
    height: 7rem;
    gap: 17px;
}

.habilidade {
    background-color: var(--font-color);
    border-radius: 10px;
    padding: 0.3% 1.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: bold;
    color: var(--bg-color);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.habilidade:hover {
    background-color: #D7D7D7;
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.habilidade img {
    width: 70px; /* Tamanho dos ícones */
    height: 70px;
    margin-bottom: 10px;
    object-fit: contain; /* Garante que a imagem se ajuste sem cortar */
}

/* terceira seção */
.terceira-secao {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3% 5%;
    width: 90%;
}